@CHARSET "ISO-8859-1";


.nexus text {
                /* stroke: white; */
                fill: black;
}

.nexus .shape {
                cursor: cell;
}


.nexus .riskLabel text {
                font-size: 12px;
                font-family: sans-serif;
                fill: #c3c3c3;
}


.nexus .riskLabel text.left {
                text-anchor: end;
}

.nexus circle.highlight {
    display: none;
}

.nexus circle.highlight.highlighted {
	
	display: inline;
}


.nexus .riskLabel.connected.highlighted text {
                font-weight: bold;
                fill: inherit;
}

.nexus .riskLabel.connected text {
                font-weight: bold;
                fill: #666666;
}


.nexus .riskView.highlighted .shape, .nexus .riskView.connected .shape {
	fill: inherit;
}

.nexus .riskView.highlighted .highlight {
                opacity: 0.3;
}


.nexus .link rect {
    fill: white;
    stroke: #f7d415;
    stroke-width: 2;
}

.nexus .link path {
                stroke: rgba(178, 178, 178, 1);
                stroke-width: 4;
                /*           marker-mid: url(#markerArrow); */
                fill: none;
              /*   stroke-dasharray: 4, 2, 4, 2, 4, 20; */
                stroke-dasharray: 0;
}

.nexus {
                position: absolute;
                left: 0;
                top: 0px;
}

.nexus .labelLine {
                display: none;
}
.nexus .riskView .shape {
                fill: #D8D7D7;
}

.nexus .riskView .sourcehighlight {
                fill: #D8D7D7;
}

.nexus .riskView .shape.destinationhighlight {
     fill: #FFFFFF;
}

.nexus .riskView .completed {
   visibility: hidden;
  /*  background-image: url(..//img/icons/svg/Select_Green.svg); */
}

.nexus .riskView .completedflag {
   /* fill: #00ffff; */
   visibility:  visible;
}

.nexus path.arrowhead {
    z-index: 4;
    fill: black;
    stroke: black;
    stroke-width: 0;
}

.nexus .riskView.connected .shape {
 fill: #666666; 
}

.nexus .riskView.highlighted .shape {
 fill: #0091DA;
}

.nexus .riskView.highlighted .highlight {
                opacity: 0.3;
}

.riskView .shadow {
                fill: none;
}

#nexusPanel .riskView text.link-count {
                fill: white;
                font-size: 12pt;
                pointer-events: none;
}

.riskView text {
                stroke: white;
                fill: white;
                font-size: 8pt;
}
.link .highlight line {
                stroke-linecap: round;
}
text.link-count {
    stroke: white;
}
text.link-count-hide  {
    visibility: hidden;
}
#nexusPanel .riskView text.link-count {
                fill: white;
                font-size: 12pt;
                pointer-events: none;
}

#nexusPanel .instructions p {
                width: 800px;
    font-size: medium;
    padding: 0px;
    margin: 0px;
}
#nexusPanel .instructions p .bullet {
                font-weight: bold;
}

#nexusPanel .buttons > div {
    position: absolute;
    top: 0px;
}
#nexusPanel .buttons .select-div {
    left: 0px;
}
#nexusPanel .buttons .button-label {
    text-align: center;
    font-size: medium;
    padding-top: 8px;
}
#nexusPanel .buttons .connect-div {
    left: 90px;
}

/* #nexusPanel button.select {
                background-image: url(..//img/icons/svg/Select.svg);
                height: 60px;
    width: 60px;
    background-color: white;
    background-size: contain;
    box-shadow: none;
    border: none;
}
#nexusPanel button.select[disabled='disabled']{
                background-image: url(..//img/icons/svg/Select_Green.svg);
} */
                
/* #nexusPanel button.connect {
                background-image: url(..//img/icons/svg/Connect.svg);
                height: 60px;
    width: 60px;
    background-color: white;
    background-size: contain;
    box-shadow: none;
    border: none;
} */
/* #nexusPanel button.connect[disabled='disabled']{
                background-image: url(..//img/icons/svg/Connect_Green.svg);
} */
#nexusPanel button.from {
                background-image: url(..//img/icons/svg/Causes.svg);
}
#nexusPanel button.from[disabled='disabled']{
                background-image: url(..//img/icons/svg/Impacts.svg);
}

#nexusPanel button.add {
                background-image: url(..//img/icons/svg/Plus_w.svg);
}


#nexusPanel button.to {
                background-image: url(..//img/icons/svg/Impacts_w.svg);
}
#nexusPanel button.to[disabled='disabled']{
                background-image: url(..//img/icons/svg/Impacts_g.svg);
}
#nexusPanel button.editCharts, #chartsPanel button.editNetwork {
                border-radius: 20px;
}

button.btn-primary.btn.editCharts {}

.content-pane button.active {
                background-color: #0B4069;
                color: white;
}

.content-pane .buttons button[disabled='disabled'] {
                background-color: #EDEDED;
                color: black;
                opacity: 1;
                border: none;
}

.content-pane .buttons {
                position: absolute;
                top: 10px;
                left: 20px;
                z-index: 1;
}

.content-pane .buttons button, .risk-detail-view button {
                background-color: #0b4069;
                background-repeat: no-repeat;
                background-position: center;
                height: 30px;
                width: 30px;
                background-size: 18px 18px;
}

.list-group-item.active {
                background-color: #0068b3;
}

#charts svg {
                position: absolute;
                top: 0px;
                left: 0px;
}

.risk-detail-view:not(.editable) .buttons,
.risk-detail-view:not(.editable) .new {
                display: none;
}

.risk-detail-view .buttons {
                float: right;
                position: relative;
                margin-bottom: 10px;
                margin-right: 10px;
}

.risk-detail-view button[disabled='disabled']{
                display:none;
}

.buttons {
                min-height: 5%;
                position: absolute;
                top: 0px;
                z-index: 1;
                margin-top: 5px;
}

.buttons button {
                margin-left: 3px;
}
#chartsPanel .buttons {
                left: 120px;
}

#networkPanel .buttons {
                left: 10px;
}

.riskLabel text {
                font-size: 12px;
                color: black;
                width: 100px !important;
			    text-overflow: ellipsis !important;
			    white-space: nowrap !important;
			    overflow: hidden !important;
                /* font-weight: bold; */
}

#charts .riskLabel text {
                text-anchor: middle;
                max-width: 100px !important;
}
#charts .riskLabel {
                fill: black;
}
.riskView .shadow {
                fill: none;
}

.link .referenceLine {
                fill: none;
                stroke: none;
                stroke-width: 4;
/*           marker-end: url(#markerArrow); */
}

.riskViewMenu {
                fill: none;
                stroke: #7ab800;
                stroke-width: 4pt;
}

/* RiskCategory */

.risk-category .item-text, .uncategorized .item-text {
   margin-left: 5px;
    vertical-align: middle;
    font-size: 12px;
    font-family: sans-serif;
    max-width: 130px;
}

.risk-category .item-icon svg, .uncategorized .item-icon svg, .risk-categories .selected .icon {
                vertical-align: middle;
}

.risk-categories .new {
                font-size: 10px;
                padding-right: 0px;
}

.risk-categories .new .item-more {
                margin-left: 5px;
}
.risk-categories .new input {
                margin-left: 5px;
                color: #3c3c3b;
                font-size: 12px;
                border: none;
                width: 140px;
                padding-left: 3px;
}

.risk-categories .new .add {
                margin-left: 3px;
                margin-top: 3px;
                float: right;
}

.risk-category, .risk-categories .new, .risk-categories .uncategorized {
                min-width: 180px;
                padding-top: 4px;
                padding-bottom: 4px;
                border-width: 1px 0px 1px 0px;
                margin-left: 10px;
                margin-right: 10px;
                padding-left: 0px;
                padding-right: 0px;
                position:  relative;
                text-overflow: ellipsis;
                overflow: hidden;
}

li.risk-category a, li.uncategorized a {
                padding-left: 0px;
                margin-left: 5px;
                border-width: 1px 0px 1px 0px;
}

.uncategorized svg circle {
   fill: #0091DA; /* #95C11F  to ##0091DA */
}

.risk-categories {
                width: 200px;
}

.risk-categories  {
                width: 200px;
                border-radius: 0px;
                margin-top: 0px;
                margin-bottom: 10px;
}
.risk-categories .selected .icon {
                padding-left: 0px;
}
.content-pane .btn-group {
                z-index: 1;
                margin-left: 0px;
                margin-right: 20px;
}

.content-pane .buttons button {
                background-color: #0B4069;
                border-color: #c6c6c6;
                margin-top: 2px;
                font-size: 12px;
                padding-top: 3px;
                padding-bottom: 3px;
                box-shadow: 0px 0px 2px 2px #dadada;
}

/* Data Group */

[data-group="-1"] {
                /* fill: #0091DA; #95C11F  to ##0091DA */
				fill: #95C11F;
                 fill: #0091DA;
                }
[data-group="0"] {
                fill: #F39200;
}

[data-group="1"] {
                fill: #E84E0F;
}

[data-group="2"] {
                fill: #00B1EB;
                
}

[data-group="3"] {
                fill: #009A67;
}

[data-group="4"] {
                fill: #0069B4;
                stroke: #0069B4;
                
}

[data-group="5"] {
                fill: #DD6CA6;
}

[data-group="6"] {
                fill: #F1DE1E;
}


[data-group="7"] {
                fill: #4D2379;
}
[data-group="8"] {
                fill: #8A5F1B;
}
[data-group="9"] {
                fill: #833A16;
}

[data-group="10"] {
                fill: #176E8D;
}

[data-group="11"] {
                fill: #016143;
}


[data-group="12"] {
                fill: #0B4069;
}

[data-group="13"] {
                fill: #824967;
}

[data-group="14"] {
                fill: #8F8730;
}

[data-group="15"] {
                fill: #2B1D46;
}

/* RiskDetails */
.risk-name-input {
                border: 1px;
                width:200px;
                word-wrap: break-word;
                word-break: break-all;
                padding-top: 10px;
                padding-left: 10px;
}

.risk-name-input[disabled='disabled']{
                background-color: white;
}

.risk-detail-view {
                animation-name: open-risk-detail;
                animation-duration: 0.5s;
                position:absolute;
                top: 120px;
                right: 15px;
                width: 230px;
                background-color: #0b4069;
                box-shadow: 0px 2px 5px 2px #dadada;
                border-radius: 20px 0px 0px 20px;
                border-color: #0b4069;
                border-width: 1px;
}

@keyframes close-risk-detail {
                from {right: 15px}
                to {right: -200px}
}

@keyframes open-risk-detail {
                from {right: -200px}
                to {right: 15px}
}
.risk-detail-view.closed {
                animation-name: close-risk-detail;
                animation-duration: 0.5s;
                right: -200px;
}

.risk-detail-view.open {
                animation-name: open-risk-detail;
                animation-duration: 0.5s;
                right: 15px;
}
.risk-detail-view .separator {
                height: 3px;
                background-color: #0b4069;
}

.risk-categories .tick {
                display: none;
}
.risk-categories .selected .tick {
                display: inline;
                position: absolute;
                color: white;
                top: 6px;
                left: 4px;
}

.risk-detail-view .toggle {
                color: white;
                position: absolute;
                top: 15px;
                left: 10px;
}

.risk-detail-view .view{
                width: 20px;
                height: 20px;
                float: right;
                margin-top: 3px;
                vertical-align: middle;
                background-repeat: no-repeat;
}
.risk-detail-view .view.active {
                background-image: url(ui/img/icons/svg/View_g.svg);
}




.risk-detail-view .main {
                background-color: white;
                width: 200px;
                float: right;
}
.risk-detail-view .drag-handle {
                height: 20px;
}
.risk-detail-view.riskless {
                display: none;
}

.risk-detail-view .buttons button {
                border-radius: 20px;
                margin-left: 10px;
}

.risk-detail-view .risk-categories button {
                color: #3c3c3b;
                width: 190px;
                border-width: 1px 0px 1px 0px;
                text-align: left;
                background-color: white;
                border-radius: 0px;
                margin-left: 5px;
}

.risk-detail-view .risk-categories button .glyphicon {
                float: right;
}



/* Line in Graph and label in LikeVsSeve Graph */
.labelLine line{
                stroke-width: 1.0;
                /* stroke-dasharray: 5, 5; */
                stroke: #878787;
}



/* Likelihood Vs Severity */


#charts svg {
                position: absolute;
                top: 0px;
                left: 0px;
}

.gridline {
                stroke: #dadada;
                stroke-dasharray: 5px 5px;
                stroke-width: 1px;
}

.axis path {
                stroke-width: 1px;
                stroke: #333333;
                fill: none;
                opacity: 1;
}

/* Last min changes */

.btn-group>.btn:first-child {
                border-top-left-radius: 20px;
                border-bottom-left-radius: 20px;
}

.btn-group>.btn:last-child {
                border-top-right-radius: 20px;
                border-bottom-right-radius: 20px;
}

/* Linear gradient */
#graphGradient .stop1 {
                stop-color:#ffffff;
                stop-opacity:0.09;
}

#graphGradient .stop2 {
                stop-color:#706f6f;
                stop-opacity:0.09;
}
#graphGradient .stop3 {
                stop-color: #0091DA;
                stop-opacity:0.09;
}

/* Legend in Likelihood vs Severity */
button.dropdown-toggle {
                background-color: white;
                color: #3c3c3b;
}

.btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

#yControl {
                position: absolute;
                top: 90px;
                left: 50px;
}

#yControl .dropdown-menu {
                top: 25px;
                min-width: 125px;
}

#xControl .dropdown-menu {    
                bottom: 40px;
                min-width: 125px;
}

#xControl {
                position: absolute;
                bottom: 65px;
                right: 65px;
}
.axisLabel svg {
                height: 35px;
                width: 125px;
}
.axisLabel svg polygon {
                                fill: #c6c6c6;
}

.axisLabel svg text {
                font-family: sans-serif;
                font-size: 10pt;
}

#yControl button, #xControl button, #charts .save {
                background-color: #878787;
                border-color: #878787;
}

