<div class="container" data-ng-controller="DashboardCtrl">
   <div class="row">
      <div class="col-md-12">
         <div class=" col-md-10  fullwidth">
            <form role="form" name="userForm" class="padding-none"
               confirm-on-exit novalidate>
               <div class="row">
                  <div class="col-md-10 padding-none">
                     <div class="padding-none">
                        <h1 class="headtitle">
                           DRA Survey
                        </h1>
                        <div class="engage_graybg">
                           <div class="row">
                              <div class="col-sm-4">
                                 <p class="cs_sub_header">Engagement ID</p>
                                 <ul class="list-inline">
                                    <li class="idicon fontblue text-xxlarge">
                                       <span class="engagementlabel">
                                       		<img src="ui/img/label.png" alt="" title="" data-ng-show="selectedEngagement.survey.closed == false"  class="icon-large">
											<img src="ui/img/labelblock.png" alt="" title="" data-ng-show="selectedEngagement.survey.closed == true" class="icon-large"> 
										</span>
                                       <span class="">{{selectedEngagement.engagementId}}</span>
                                    </li>
                                 </ul>
                              </div>
                              <div class="col-sm-8">
                                 <p class="padding-sides-medium cs_sub_header">Client Name</p>
                                 <p class="fontblue text-xxlarge padding-large">
                                  <span data-ng-bind="selectedEngagement.clientName"></span>
                                 </p>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="survey_tab">
                        <ul>
                           <li>
                              <div class="tab cs_sub_header">Survey</div>
                           </li>
                           <li>
                              <button class="tab send" id="send"
                                 data-ng-click="navigateTosendView()" data-ng-disabled="selectedEngagement.survey.closed"></button>
                              <p class="bold">Send</p>
                           </li>
                           <li>
                              <button class="tab response" id="response"></button>
                              <p class="bold" >Responses</p>
                           </li>
                        </ul>
                     </div>
	<div class="skyblue_strip">
		<div class="row">
			<div class="col-xs-5 ">
				<p class="no-vert-margin text-xlarge font_white">Responses</p>
			</div>
			<div class="col-xs-7">
				<p class="no-vert-margin text-medium font_white closed"
				data-ng-show="selectedEngagement.survey.closed">
					Closed</p>
	 		</div>
		</div>
	</div>
                 <div class="surveydetails text-center">
		<ul>
			<li class="cs_client_survey_details">
				<div class="list" ng-click="countDetailsBasedonSelectedStatus('ALL','participant')">
					<span><b>Participants</b></span>
					<div id="participant" class="count">
						<span>{{numberOfParticipants}}</span>
					</div>
				</div> <span ng-click="countDetailsBasedonSelectedStatus('ALL','participant')" class="cs_blue bold">More details</span>
			</li>
			<li class="cs_client_survey_details">
				<div class="list" ng-click="countDetailsBasedonSelectedStatus('INPROGRESS','inprogress')">
					<span><b>In-progress Surveys</b> </span>
					<div id="inprogress" class="count">
						<span>{{numberOfInProgressSurveys}}</span>
					</div>
				</div> <span ng-click="countDetailsBasedonSelectedStatus('INPROGRESS','inprogress')" class="cs_blue bold">More details</span>
			</li>
			<li class="cs_client_survey_details">
				<div class="list" ng-click="countDetailsBasedonSelectedStatus('COMPLETE','completed')">
					<span><b>Completed Surveys</b></span>
					<div id="completed" class="count">
						<span>{{numberOfCompletedSurveys}}</span>
					</div>
				</div> <span ng-click="countDetailsBasedonSelectedStatus('COMPLETE','completed')" class="cs_blue bold">More details</span>
			</li>
		</ul>
	</div>
	<div class="row">
		&nbsp;
	</div>
	<div class="participant_list" ng-show="participantsVisiblity"   >
		<div class="table-responsive sponsor" id="verticalscroll">
		<p class="fontblue font-twenty ng-binding padding-sides-large"  data-ng-bind="tableHeader"></p>
              <table class="table" ng-show="participantsVisiblity">
                  <thead>
                      <tr>
                      		<th width="5%"> </th>
                          <th > {{ 'First Name' }} </th>
                          <th> {{ 'Surname' }} </th>
                          <th > {{ 'Email' }} </th>
                          <th > {{ 'Send Date' }}</th>
                     </tr>
                 </thead>
                 <tbody class="table full-width fixed-height" > 
                     <tr ng-show="selectedParticipants != null" ng-repeat="participant in selectedParticipants"    >
                        <td>
                        	<img  src="ui/img/complete.png" data-ng-show="participant.status == 'COMPLETE'  " >   
                        	<img  src="ui/img/inprograss.png"  data-ng-show="participant.status == 'INPROGRESS'" > 
                        </td>
                         <td>
                         {{participant.name}}
                         </td>
                         <td >
                         {{participant.lname}}
                         </td>
                         <td >
                         {{participant.emailId}}
                         </td>
                         <td >
                         {{participant.sentDateFormatted}}
                         </td>
                     </tr>
                     <tr ng-show="selectedParticipants == '' ||  selectedParticipants.length == null" >
					<td colspan="5"  class="text-center">
                      			 No participants have been onboarded. 
                      		</td>
                     </tr>
                 </tbody>
            </table>
            </div>
</div>

<div class="participant_list"  style="display:none;"   >
			<div class="skyblue_strip">
				<div class="row">
					<div class="col-xs-5 ">
						<p class="no-vert-margin text-xlarge font_white">Responses</p>
					</div>
				</div>
			</div>
			<div class="table-responsive" >
				<table class="table" >
					<thead>
						<tr>
							<th>{{ 'Generated Date'}}</th>
							<th>{{ 'Time' }}</th>
							<th class="display-block">{{ 'Report Name' }}
							</th>
							<th>{{ 'No. of Participants'}}</th>
							<th>{{ 'No. of Participants'}}</th>
							<th>{{ 'Status' }}</th>
							<th>{{ 'Format' }}</th>
							<th>{{ 'Ready to Download'}}</th>
						</tr>
					</thead>
					<tbody class="table full-width fixed-height">
						<tr>
							<td>No data</td>
							<td>No data</td>
							<td>No data</td>
							<td>No data</td>
							<td>No data</td>
							<td><img src="ui/img/complete.png">No data</td> 
							<td>No data</td>
							<td>No data</td>

						</tr>
						<tr>
							<td colspan="8" class="text-center">No participants have been onboarded.</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
                    </div>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>
