<div class="container" data-ng-controller="SponsorSendSurveyCtrl">
	<div class="row">
		<div class="col-md-12">
			<div class=" col-md-10  fullwidth">
				<form role="form" name="userForm" class="padding-none"
					confirm-on-exit novalidate>
					<div class="">
						<div class="col-md-10">
							<div class="padding-none">
								<h1 class="headtitle">DRA Survey</h1>
								<div class="engage_graybg">
									<div class="row">
										<div class="col-sm-4">
											<p class="cs_sub_header">Engagement ID</p>
											<ul class="list-inline">
												<li class="idicon fontblue text-xxlarge"><span
													class="engagementlabel"> <img src="ui/img/label.png"
														alt="" title=""
														data-ng-show="selectedEngagement.survey.closed == false"
														class="icon-lg"> <img src="ui/img/labelblock.png"
														alt="" title=""
														data-ng-show="selectedEngagement.survey.closed == true"
														class="icon-lg">
												</span> <span class="">{{selectedEngagement.engagementId}}</span></li>
											</ul>
										</div>
										<div class="col-sm-8">
											<p class="padding-sides-medium cs_sub_header">Client Name</p>
											<p class="fontblue text-xxlarge padding-large">
												<span data-ng-bind="selectedEngagement.clientName"></span>
											</p>
										</div>
									</div>
								</div>
							</div>
							<div class="survey_tab">
								<ul>
									<li>
										<div class="tab cs_sub_header">Surveys</div>
									</li>
									<li>
										<button id="send" class="tab send"
											data-ng-disabled="selectedEngagement.survey.closed"></button>
										<p class="bold">Send</p>
									</li>
									<li>
										<button class="tab response"
											data-ng-click="navigateTodashboard()"></button>
										<p class="bold">Responses</p>
									</li>
								</ul>
							</div>
							<div class="skyblue_strip">
								<div class="row">
									<div class="col-xs-5 ">
										<p class="no-vert-margin text-xlarge font_white"
											data-ng-hide="survey.published || surveyCreated"
											data-ng-show="saveInProgress">Send Survey</p>
									</div>
								</div>
							</div>

							<div class="alert alert-danger" data-ng-show="showErrorMessage"
								id="alertView">
								<span translate>{{errorMessage}}</span>
							</div>
							<div class="alert alert-success sharp-edges success-alert"
								data-ng-show="showUploadMessage">
								<span translate>{{uploadMessage}}</span>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="panel panel-default sharp-edges">
										<div class="panel-body ">
											<div class="row">
												<div class="col-md-6 col-sm-12">
													<span class="gray_color">Select file to bulk upload:</span>
													<button
														class="btn btn-default success gButton medium-button btn-success "
														ng-disabled="survey.published"
														data-ng-click="participantEmailUpload()">Browse</button>
												</div>
												<div class="col-md-6 col-sm-12">
													<div class="row">
														<div class="col-xs-8">
															<div class="row">
																<div class="col-md-8">
																	<div class="pull-right">
																		<span class="clientcount width100 bgtransparent">Total
																			Recipients:</span>
																	</div>
																</div>
																<div class="col-md-4">
																	<span class="clientcount width100">{{participantEmails.length}}</span>
																</div>
															</div>

														</div>
														<div class="col-xs-4">
															<span data-ng-click="addParticipantEmail()"
																class="hand-cursor vertical_hght "> <img
																src="ui/img/plus_icon.png" class="icon-large"></img>Recipient
															</span>
														</div>
													</div>
												</div>
											</div>
											<div class="row">&nbsp;</div>
											<div id="verticalscroll" class="riskdescrip table-responsive">
												<table class="table table-hover borderless last-bdr-non">
													<tbody>

														<tr data-ng-repeat="participant in participantEmails">
															<td><input type="text" placeholder="First Name"
																class="form-control" data-ng-model="participant.name"
																maxlength="70" data-ng-required
																ng-disabled="!participant.editMode" required /></td>
															<td><input type="text" placeholder="Surname"
																class="form-control" data-ng-model="participant.lname"
																maxlength="70" data-ng-required
																ng-disabled="!participant.editMode" required /></td>
															<td><input type="text" placeholder="Email"
																class="form-control" data-ng-model="participant.emailId"
																maxlength="70" data-ng-required
																ng-disabled="!participant.editMode" /></td>
															<td class="text-center">
																<div class="set-height">
																	<img src="ui/img/pencil_icon2.png" class="icon-lg"
																		data-ng-click="participant.editMode = true"
																		data-ng-hide="participant.editMode"> <img
																		src="ui/img/tick_icon.png" class="icon-lg"
																		data-ng-show="participant.editMode"
																		data-ng-click="validateParticipant(participant)">
																</div>
															</td>
															<td class="text-center">
																<div class="set-height">
																	<img src="ui/img/trash_icon2.png" class="icon-lg"
																		data-ng-click="removeParticipantEmail($index)">
																</div>
															</td>
														</tr>
														<tr>
															<td></td>
															<td></td>
															<td></td>
															<td></td>
														</tr>
													</tbody>
												</table>
											</div>
											<div class="row">
												<div class="col-md-12">
													<p>Enter message to recipients:</p>
												</div>
											</div>
											<div class="row">
												<div class="col-md-8">
													<textarea maxlength="300" class="emailNote" data-ng-model="emailNote"></textarea>
												</div>
												<div class="col-md-4">
													<button
														class="btn btn-success gButton big-button pull-right"
														data-ng-click="sendEmail()"
														data-ng-disable="survey.published">
														Send <span
															class="glyphicon glyphicon-refresh glyphicon-spin"
															data-ng-show="sendEmailInProgress"></span>
													</button>
												</div>
											</div>
											<br>
											<div class="row" data-ng-show="mailSendSuccessfully">
												<div class="col-md-12">
													<div class="alert alert-success sharp-edges success-alert">
														{{sentEmailNote}}</div>
												</div>
											</div>
											<br> <br> <br>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
