<div id="viewriskdetails">
	<div  class="viewriskdetailpage">
		<div class="container top-padding-medium">
			<div class="row">
<!-- 				<div class="col-md-12">
					<div class="bluestrip_twenty">
						<h3>View Risks Details<span data-ng-click="downloadPdf()"  class="pull-right"><i class="fa fa-download" aria-hidden="true"></i></span></h3>
					
					</div>
				</div> -->
				<div class="col-md-12">
					<div class="margin-top-xlarge"></div>
					<div class="padding-large">
						<div class="table-responsive">
							<table class="table">
								<thead>
								<tr>
									<th colspan="2">View Risks Details</th></tr>
									<tr>
										<th> Risk Name	</th>
										<th>Description</th>
									</tr>
								</thead>
								<tbody>
									<tr data-ng-repeat="risk in risks | orderBy:'name' ">
										<td   >{{ risk.name }}</td>
										<td   >{{ risk.desc }}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
