<div class="modal-header modal-header-primary">
       <button type="button" class="close" data-ng-click="closeSendSurveyPopup()">&times;</button>
       <h4 class="modal-title"> Close Survey </h4>
</div> 

<div class="modal-body"> 
Are you sure you want to close this survey?

<br/>
<br/>
Closing this survey means participants will no longer be able to respond to the survey.
<br/>
<br/>

	
<div class="row">
	<div class="col-lg-2  col-lg-offset-6 padding-right_5">
		<button class="btn btn-success oButton pull-right" type="button" data-ng-click="closeSendSurveyPopup()">Cancel</button>
	</div>
	<div class="col-lg-2 padding-left">
		<button class="btn btn-success gButton big-button  pull-left" type="button" data-ng-click="closeSurvey()">Close Survey</button>
	</div>
<br/>
</div>

</div>
