<div data-ng-controller="CreateEngagementCtrl" class="container padding-large">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 engage fullwidth">
		<div class="breadcrum padding-large paddingleftright">
			<a href="engagementManager.html#/clientList" translate>My Clients</a> 
			<span class="glyphicon glyphicon-menu-right"></span>
			<a href="engagementManager.html#/dashboard/{{engagement.clientId}}">{{engagement.clientName}}</a>
			<span class="glyphicon glyphicon-menu-right"></span>
			<a class="active" >{{engagement.engagementId}}</a>
		</div>
	</div>
	
	<form role="form" name="engagementForm" class="padding-sides-large nopadding" confirm-on-exit>
		<div class="row">
			<div class="col-md-12">
				<div class="padding-none">
					<h1 class="headtitle">{{ 'Engagements' | translate }} <span data-ng-show="tasks != null && tasks.length > 0"> (Count: {{ tasks.length }})</span>
						<span class="glyphicon glyphicon-refresh" data-ng-click="loadEngagements()" ></span>
					</h1>
					<div class="engage_graybg" data-ng-hide="engagement.engagementId == null || engagement.engagementId == ''">
						<div class="row">
							<div class="col-sm-4">
								<p>
								{{ 'Engagement ID' | translate }}</p>
								<ul class="list-inline">
									<li class="idicon fontblue text-xxlarge ">
										<span class="engagementlabel">
											<img src="ui/img/label.png" alt="" title="" data-ng-show="!engagement.survey.closed" class="icon-lg">  
											<img src="ui/img/labelblock.png" alt="" title=""  data-ng-show="engagement.survey.closed" class="icon-lg">										
										</span>
										 <span class="">{{engagement.engagementId}}</span>
									</li>
								</ul>
							</div>
							<div class="col-sm-8">
								<p class="padding-sides-medium">Client Name</p>
								<p class="fontblue text-xxlarge padding-large font-twenty">{{engagement.clientName}}</p>
							</div>
						</div>
					</div>
					<div data-ng-show="engagement.engagementId == null || engagement.engagementId == ''">
						<br>
						<br>
						<br>
					</div>
					<ul class="nav nav-tabs">
						<li class="active paddingright15"><a data-toggle="tab"
							href="#createengagement" class="paddingleftright" translate>Engagement
								Details</a></li>
						<li ><a data-toggle="tab" data-ng-hide="engagement.taskId==null || engagement.taskId == ''" href="#operationalDate/{{engagement.taskId}}" class="paddingleftright" translate>Scheduler</a></li>
						<li class="pull-right"><a href="engagementManager.html#/dashboard/{{engagement.clientId}}" > 
							&lt; Back to Engagement page</a></a></li>
					</ul>

					<div class="tab-content">
						<h1 class="padding-large paddingleftright"
							data-ng-show="engagement.taskId==null || engagement.taskId == ''"
							translate>Create Engagement</h1>
						<h1 class="padding-large paddingleftright"
							data-ng-hide="engagement.taskId==null|| engagement.taskId == ''"
							translate>Edit Engagement</h1>
						<div class="alert alert-danger" id="reqFieldAlert"
							data-ng-show="{{ showReqFieldError }}">
							<span translate>* Required field can not be empty !</span>
						</div>
						<div class="alert alert-danger" id="engagementIdAlreadyExist"
							data-ng-show="{{ showEngagementIdAlreadyExist }}">
							<span translate>Engagement Id already exist in
								application, please change engagement Id !</span>
						</div>
						<div class="alert alert-danger" id="validFieldAlert"
							data-ng-show="{{ showValidFieldError }}">
							<span translate>Please enter a valid Email !</span>
						</div>
						<div class="alert alert-danger" id="validNumberFieldAlert"
							data-ng-show="{{ showValidNumberFieldError }}">
							<span translate>Please enter a valid Sentinel Approval Number !</span>
						</div>
						<div class="tab-pane fade in active">

							<div class="panel panel-default sharp-edges">
								<div class="panel-heading custom">
									<b>Client Details</b>
								</div>
								<div class="panel-body">

									<div class="row">
										<div class="col-md-12">
											<label class="gray_color">Client Name</label>
											<div class="row">

												<div class="col-md-3">
													<div class="form-group">
														<input class="form-control graybg" placeholder="Engagement ID" readonly data-ng-model="engagement.clientName">
													</div>
												</div>
											</div>
										</div>

										<div class="col-md-12">
											<label class="gray_color">Client Lead</label>
											<div class="row" >
												<div class="col-md-3">
													<div class="form-group" id="clientfirName" show-errors>
														<input type="text"  onKeyPress="return validateAlphaField(event)" class="form-control"  maxlength="50" name="clientFirstName" placeholder="First Name" 
															data-ng-model="engagement.clientFirstName" required  >
													</div>
												</div>

												<div class="col-md-3">
													<div class="form-group" id="clientsurName" show-errors >
														<input type="text" onKeyPress="return validateAlphaField(event)" class="form-control"   maxlength="50" name="clientSurName" placeholder="Surname"  
															data-ng-model="engagement.clientSurName" required  >
													</div>
												</div>

												<div class="col-md-3">
													<div class="form-group" id="clientLeadEmailId" show-errors>
														<input type="email"  placeholder="Email"
															name="clientLeadEmail" maxlength="100"
															class="form-control"
															data-ng-model="engagement.clientLeadEmail" required>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="panel panel-default sharp-edges">
								<div class="panel-heading custom">
									<b>Engagement Details</b>
								</div>
								<div class="panel-body">
									<div class="row">
										<div class="col-md-12">
											<div class="row">
												<div class="col-md-3">
													<div class="form-group" show-errors>
														<label class="gray_color">Engagement ID</label> <input type="text"
															id="engagementIdId" name="engagementId" maxlength="15"
															class="form-control"
															data-ng-model="engagement.engagementId"
															data-ng-disabled="engagement.taskId" required
															ng-pattern-restrict="^[a-zA-Z0-9-_]*$">
													</div>
												</div>
												<div class="col-md-3 col-md-offset-6">
													<div class="form-group" id="sentinelApprovalNumberId"
														show-errors>
														<label class="gray_color">Sentinel Approval Number</label> <input type="text"
															placeholder="Sentinel Approval Number"
															onKeyPress="return validateNumberField(event)"
															name="sentinelApprovalNumber" maxlength="15"
															class="form-control"
															data-ng-model="engagement.sentinelApprovalNumber" required>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-6">
													<div class="form-group" show-errors>
														<label class="gray_color">Engagement Description</label> 
														<textarea
															id="engagementDescriptionId"
															onKeyPress="return denyScriptTag(event)"
															onblur="removeScriptTag(id)" name="engagementDescription"
															maxlength="300" class="form-control setheight createengage" rows="1" cols="50"
															data-ng-model="engagement.engagementDescription" required>
														</textarea>
													</div>
												</div>
												<div class="col-md-3 col-md-offset-3">
													<div class="form-group ">
														<div class="checkboxFive pull-left">
															<input type="checkbox" value="1" id="platinumAccountCB"
																name="checkbox1"
																data-ng-model="engagement.platinumAccount" /> <label
																for="platinumAccountCB"></label>
														</div>
														<span>Platinum Account</span>
													</div>
		
													<div class="form-group ">
														<div class="checkboxFive pull-left">
															<input type="checkbox" value="1" id="secRegistrantCB"
																name="checkbox2" data-ng-model="engagement.secRegistrant" />
															<label for="secRegistrantCB"></label>
														</div>
														<span>SEC Registrant</span>
													</div>
												</div>
											</div>
											<label>Engagement Manager</label>
											<div class="row">
												<div class="col-md-3">
													<div class="form-group"  show-errors>
														<input type="text"  onKeyPress="return validateAlphaField(event)" maxlength="50" name="engagementManagerFirstName" class="form-control"  placeholder="First Name" data-ng-model="engagement.engagementManagerName" required>
													</div>
												</div>

												<div class="col-md-3">
													<div class="form-group" show-errors >
														<input type="text"  onKeyPress="return validateAlphaField(event)" maxlength="50" name="engagementManagerSurName" class="form-control" placeholder="Surname" data-ng-model="engagement.engagementManagerSurName" required>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-12">
													<label class="gray_color">Engagement Partner</label>
												</div>
											</div>

											<div class="row">
												<div class="col-md-3">
													<div class="form-group" show-errors >
														<input  type="text"  onKeyPress="return validateAlphaField(event)" maxlength="50" name="engagementPartnerFirstName" class="form-control" placeholder="First Name"
															data-ng-model="engagement.engagementPartner" required>
													</div>
												</div>

												<div class="col-md-3">
													<div class="form-group" show-errors>
														<input type="text"  onKeyPress="return validateAlphaField(event)" maxlength="50" name="engagementPartnerSurName" class="form-control" placeholder="Surname"
															data-ng-model="engagement.engagementPartnerSurName" required>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="panel panel-default sharp-edges">
								<div class="panel-heading custom">
									<b>DRA Delivery Team</b>
								</div>
								<div class="panel-body">
									<label class="gray_color">Workshop Facilitator</label>
									<div class="row">
										<div class="col-md-3">
											<div class="form-group" show-errors>
												<input type="text"  onKeyPress="return validateAlphaField(event)" maxlength="50" name="workshopFacilitorName" class="form-control" placeholder="First Name"
													data-ng-model="engagement.workshopFacilitorName" required>
											</div>
										</div>

										<div class="col-md-3">
											<div class="form-group" show-errors>
												<input type="text"  onKeyPress="return validateAlphaField(event)" maxlength="50" name="workshopFacilitorSurName" class="form-control" placeholder="Surname"
													data-ng-model="engagement.workshopFacilitorSurName"
													required>
											</div>
										</div>
									</div>

									<label class="gray_color">Project Manager</label>
									<div class="row">
										<div class="col-md-3">
											<div class="form-group" show-errors>
												<input type="text"  onKeyPress="return validateAlphaField(event)" maxlength="50" name="projectManager" class="form-control" placeholder="First Name"
													data-ng-model="engagement.projectManager" required>
											</div>
										</div>

										<div class="col-md-3">
											<div class="form-group" show-errors>
												<input type="text"  onKeyPress="return validateAlphaField(event)" maxlength="50" name="projectManagerSurName" class="form-control" placeholder="Surname"
													data-ng-model="engagement.projectManagerSurName" required>
											</div>
										</div>
									</div>
								</div>
							</div>


	</form>  
			</div>
		  </div>
		
	<div class="row">
		<div class="col-md-12 pull-right">
			
			
				<button data-ng-click="createEngagement()" class="btn btn-success gButton big-button pull-right" data-ng-disabled="saveInProgress" >
					Save <span class="glyphicon glyphicon-refresh glyphicon-spin" data-ng-show="saveInProgress"></span>
				</button>
				<a href="engagementManager.html#/dashboard/{{engagement.clientId}}" class="btn btn-success oButton pull-right" translate>Cancel</a>
				
			</div>
		</div>
			
			
			
			</div>
		</div>
	</div>
</div>