<div data-ng-controller="DashboardCtrl" class="container padding-large">
	
		<div class="row">
			<div class="col-xs-12">
				<div class="breadcrum padding-large paddingleftright">
					<a href="engagementManager.html#/clientList" translate>My Clients</a> 
					<span class="glyphicon glyphicon-menu-right"></span>
					<a href="engagementManager.html#/dashboard/{{selectedEngagement.taskId}}">{{selectedClient.name}}</a>
					<span class="glyphicon glyphicon-menu-right" data-ng-show="tasks != null && tasks.length > 0"></span>
					<a class="active" >{{selectedEngagement.engagementId}}</a>
				</div>
			</div>
		</div>


	<div>
		<div class="col-sm-10">
			<div class="col-sm-12">
				<div class="col-md-6">
					<h1 class="headtitle">
						{{ 'Engagements' | translate }} <span
							data-ng-show="tasks != null && tasks.length > 0"> (Count:
							{{ tasks.length }})</span> <span class="glyphicon glyphicon-refresh"
							data-ng-click="loadEngagements()"></span>
					</h1>
				</div>

				<div class="col-md-6">
					<ul class="nav navbar-nav pull-right">
						<li class="filter">
							<form role="form">
								<div class="form-group pull-right">

									<!-- Translate functionality commented -->
									<!-- <input type="text" maxlength="50" class="form-control" id="usr" placeholder="Regular Placeholder" translate translate-attr-placeholder="Search Engagement" translate-value-browser="{{app.browser}}" data-ng-model="searchText"> -->
									<input type="text" maxlength="50" class="form-control" id="usr"
										placeholder="Search Engagement" data-ng-model="searchText">
									<input type="submit" class="submit" value="">

								</div>
							</form>
						</li>
					</ul>
				</div>
			</div>

			<div class="engage_graybg">
				<div class="row">
					<div class="col-md-5">
						<p>Engagement ID</p>
						<ul class="list-inline"
							ng-show="tasks != null && tasks.length > 0">
							<li class="idicon fontblue text-xxlarge "><span
								class="engagementlabel"> 
				<span data-ng-show="!selectedEngagement.survey.closed" class="icon-Label"></span>
				 <span  data-ng-show="selectedEngagement.survey.closed" class="icon-LabelBlock "></span>
							</span> <span class="">{{selectedEngagement.engagementId}}</span></li>
							<li><a class="fontblue text-xlarge"
								data-ng-show="selectedEngagement!=null"
								href="#/editengagement/{{selectedEngagement.taskId}}">Edit</a></li>
						</ul>
						<ul class="list-inline" ng-show="tasks == '' ">
							<li class="idicon fontblue text-xxlarge "><span
								class="engagementlabel_disabled"><img
									src="ui/img/label.png" alt="" title="" class="icon-xlarge"></span>
								<span class="text-muted">Nil Engagements</span></li>
						</ul>
					</div>
					<div class="col-md-7">
						<p class="padding-sides-medium ">Client Name</p>
						<p class="fontblue text-xxlarge padding-large font-twenty">{{selectedClient.name}}</p>
					</div>
				</div>
			</div>
			<div class="survey_tab">
				<ul>
					<li>
						<div class="tab">Surveys</div>
					</li>
					
					
					
					<li
						data-ng-hide="(selectedEngagement.survey !=null && selectedEngagement.survey.country != null)|| selectedEngagement.survey.published || selectedEngagement.survey.closed">
						<button id="new" class="tab new"
							onclick="location.href='#/createSurvey'"
							data-ng-click="responses()"
							data-ng-disabled="selectedEngagement == null || selectedEngagement.survey.closed">
						</button>
						<p class="bold">New</p>
					</li>
					<li
						data-ng-hide="selectedEngagement.survey ==null || selectedEngagement.survey.country == null">
						<button id="prepare" class="tab prepare"
							onClick="location.href='#/editSurvey'"
							data-ng-click="responses()"
							data-ng-disabled="selectedEngagement == null"></button>
						<p data-ng-hide="selectedEngagement.survey.published" class="bold">Prepare</p>
						<p data-ng-show="selectedEngagement.survey.published" class="bold">View</p>
					</li>

					<li>
						<button id="send" class="tab send"
							onclick="location.href='#/sendSurvey'"
							data-ng-disabled="!selectedEngagement.survey.published || selectedEngagement.survey.closed">
						</button>
						<p class="bold">Send</p>
					</li>

					<li>
						<button class="tab response" id="response"
							data-ng-click="responses()"></button>
						<p class="bold">Responses</p>
					</li>
				</ul>
			</div>
			<div class="skyblue_strip">
				<div class="row">
					<div class="col-xs-5 ">
						<p class="no-vert-margin text-xlarge font_white">Responses</p>
					</div>
					<div class="col-xs-7">
					<p class="no-vert-margin text-medium font_white"
							data-ng-hide="selectedEngagement.survey && selectedEngagement.survey.country && (selectedEngagement.survey.published || selectedEngagement.survey.closed)">
							<span class="icon-Unpublished_2">
                				<span class="path1"></span><span class="path2"></span>
                			</span>
                			
                		
                
               
							
							Unpublished / Draft</p>
						<p class="no-vert-margin text-medium font_white"
							data-ng-show="selectedEngagement.survey.country && selectedEngagement.survey.country && selectedEngagement.survey.published && !selectedEngagement.survey.closed">
								<span class="icon-Published_2">
               						 <span class="path1"></span><span class="path2"></span>
                				</span>
							
							Published</p>
						<p class="no-vert-margin text-medium font_white "
							data-ng-show="selectedEngagement.survey.country && selectedEngagement.survey.country && selectedEngagement.survey.closed">
							  <span class="icon-Closed_2">
                <span class="path1"></span><span class="path2"></span><span class="path3"></span>
                </span>
							Closed</p>
					</div>
				</div>
			</div>
			<div class="surveydetails text-center">
				<ul>
					<li>
						<div class="list"
							ng-click="countDetailsBasedonSelectedStatus('ALL','participant')">
							<span><b>Participants</b></span>
							<div id="participant" class="count">
								<span>{{numberOfParticipants}}</span>
							</div>
						</div> <span
						ng-click="countDetailsBasedonSelectedStatus('ALL','participant')"
						class="cs_blue bold">More details</span>
					</li>
					<li>
						<div class="list"
							ng-click="countDetailsBasedonSelectedStatus('INPROGRESS','inprogress')">
							<span><b>In-progress Surveys</b> </span>
							<div id="inprogress" class="count">
								<span>{{numberOfInProgressSurveys}}</span>
							</div>
						</div> <span
						ng-click="countDetailsBasedonSelectedStatus('INPROGRESS','inprogress')"
						class="cs_blue bold">More details</span>
					</li>
					<li>
						<div class="list"
							ng-click="countDetailsBasedonSelectedStatus('COMPLETE','completed')">
							<span><b>Completed Surveys</b></span>
							<div id="completed" class="count">
								<span>{{numberOfCompletedSurveys}}</span>
							</div>
						</div> <span
						ng-click="countDetailsBasedonSelectedStatus('COMPLETE','completed')"
						class="cs_blue bold">More details</span>
					</li>
					<li>
						<div class="list" data-ng-click="viewFeedback('feedback')">
							<span><b>Feedback</b></span>
							<div id="feedback" class="count">
								<span>{{numberOfFeedBacks}}</span>
							</div>
						</div> <span data-ng-click="viewFeedback('feedback')"
						class="cs_blue bold">More details</span>
					</li>
				</ul>
			</div>
			<div class="row">&nbsp;</div>
			<div class="participant_list" ng-show="participantsVisiblity">
				<div class="table-responsive" id="verticalscroll">
					<p class="fontblue font-twenty ng-binding padding-sides-large"
						data-ng-bind="tableHeader"></p>
					<table class="table" ng-show="participantsVisiblity">
						<thead>
							<tr>
								<th width="5%"></th>
								<th>{{ 'First Name' | translate }}</th>
								<th>{{ 'Surname' | translate }}</th>
								<th>{{ 'Email' | translate }}</th>
								<th>{{ 'Send Date' | translate }}</th>
							</tr>
						</thead>
						<tbody class="table full-width fixed-height">
							<tr ng-show="selectedParticipants != null"
								ng-repeat="participant in selectedParticipants">
								<td><img src="ui/img/complete.png"
									data-ng-show="participant.status == 'COMPLETE'  "> <img
									src="ui/img/inprograss.png"
									data-ng-show="participant.status == 'INPROGRESS'"></td>
								<td>{{participant.name}}</td>
								<td>{{participant.lname}}</td>
								<td>{{participant.emailId}}</td>
								<td>{{participant.sentDateFormatted}}</td>
							</tr>

							<tr>
							<tr
								ng-show="selectedParticipants == '' ||  selectedParticipants.length == null">
								<td colspan="5" class="text-center">No participants have
									been onboarded.</td>



							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<div class="participant_list" style="display: none;">
				<div class="skyblue_strip">
					<div class="row">
						<div class="col-xs-5 ">
							<p class="no-vert-margin text-xlarge font_white">Responses</p>
						</div>
					</div>
				</div>
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th>{{ 'Generated Date' | translate }}</th>
								<th>{{ 'Time' | translate }}</th>
								<th class="display-block">{{ 'Report Name' | translate }}</th>
								<th>{{ 'No. of Participants' | translate }}</th>
								<th>{{ 'No. of Participants' | translate }}</th>
								<th>{{ 'Status' | translate }}</th>
								<th>{{ 'Format' | translate }}</th>
								<th>{{ 'Ready to Download' | translate }}</th>
							</tr>
						</thead>
						<tbody class="table full-width fixed-height">
							<tr>
								<td>No data</td>
								<td>No data</td>
								<td>No data</td>
								<td>No data</td>
								<td>No data</td>
								<td><img src="ui/img/complete.png">No data</td>
								<td>No data</td>
								<td>No data</td>

							</tr>
							<tr>
								<td colspan="8" class="text-center">No participants have
									been onboarded.</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<div class="participant_list" ng-show="feedbackVisiblity">
				<div class="table-responsive riskdescrip" id="verticalscroll">
					<p class="fontblue font-twenty ng-binding padding-sides-large">Feedback</p>
					<table class="table" ng-show="feedbackVisiblity">
						<thead>
							<tr>
								<th width="5%"></th>
								<th>Name</th>
								<th>Email</th>
								<th>Received</th>
								<th style="text-align: center;">View Feedback</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-show="feedbacks != null"
								data-ng-repeat="feedback in feedbacks | orderBy:'feedback.ftimeFormatted':true ">
								<td><img src="ui/img/complete.png"
									data-ng-show="participant.status == 'COMPLETE'  "> <img
									src="ui/img/inprograss.png"
									data-ng-show="participant.status == 'INPROGRESS'"></td>
								<td data-ng-bind="feedback.participantName"></td>
								<td><a href="#"><span data-ng-bind="feedback.emailId"></span></a>
								</td>
								<td data-ng-bind="feedback.ftimeFormatted"></td>
								<td style="text-align: center;"><a
									data-ng-click=viewFeedbackDetails(feedback)><img
										src="ui/img/eye.png" class="icon" alt="View Feedback" /></a></td>
							</tr>
							<tr ng-show=" feedbacks == '' || feedbacks.length == null ">
								<td colspan="5" class="text-center">There is currently no
									feedback to display.</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="padding-large" ng-show="closeSurveyVisiblity">
				<div class="row">
					<div class="col-md-12">
						<button ng-show="closeSurveyVisiblity"
							class="btn btn-default pull-right success gButton medium-button btn-success"
							data-ng-click="closeSurvey()"
							data-ng-disabled="selectedEngagement == null || selectedEngagement.survey == null || !selectedEngagement.survey.published || selectedEngagement.survey.closed">Close
							Survey</button>
						<button ng-show="closeSurveyVisiblity"
							class="btn btn-default pull-right success gButton medium-button btn-success"
							data-ng-disabled="numberOfCompletedSurveys == 0"
							data-ng-click="generateReport()">Generate Report</button>
					</div>
				</div>
				<div class="row" ng-show="closeSurveyVisiblity">
					<div class="alert alert-danger reportErrorMsg" data-ng-show="reportError">
						<span>{{reportErrorMessage}}</span>
				   </div>
					<div class="skyblue_strip">
						<div class="row">
							<div class="col-xs-12 ">
								<p class="no-vert-margin text-xlarge font_white float-left">Reports &nbsp;<i class="fa fa-refresh" ng-click="refreshReports()"></i></p>
							</div>
						</div>
					</div>
					<div class="table-responsive">

						<table class="table" style="table-layout:fixed;">
							<thead>
								<tr >
									<th class="small ng-binding align-center generate-date-width" >Generated Date</th>
									<th class="small ng-binding align-center time-width" >Time</th>
									<th class="small ng-binding align-center report-width">Report Name</th>
									<th class="small ng-binding align-center respondents-width" >No.Respondents</th>
									<th class="small ng-binding align-center status-width" >Status</th>
									<th class="small ng-binding align-center format-width" >Format</th>
									<th class="small ng-binding align-center download-width" >Ready to Download</th>
								</tr>
							</thead>
							<tbody>
								<tr data-ng-repeat="history in reportsHistory | orderBy:'history.createdtime'">
									<td data-ng-bind="history.date" class="small align-center generate-date-width"></td>
									<td data-ng-bind="history.time" class="small align-center time-width"></td>
									<td data-ng-bind="history.name" class="small align-center report-width"></td>
									<td data-ng-bind="history.nbrRespondents" class="small align-center respondents-width"></td>
									<td class="small align-center status-width">
									<img src="ui/img/complete.png" class="icon" ng-show="history.fileStatus == 'COMPLETE'" />
									<img src="ui/img/inprograss.png" class="icon" ng-show="history.fileStatus == 'INPROGRESS'" /> 
									<img src="ui/img/closed.png" class="icon" ng-show="history.fileStatus == 'FAILED'" /> 
									<span style="font-size:100%">{{getFileStatus(history.fileStatus)}}</span></td>
									<td class="small align-center format-width" >.{{history.fileFormat}}</td>
									<td class="align-center download-width"><img src="ui/img/download.png"
										class="icon" data-ng-click="downloadReport(history.reportId)"
										ng-show="history.fileStatus == 'COMPLETE'"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

	</div>
	<div class="col-sm-2 alignEngagementList" >
			 		<ul class="list-inline pull-right width width100">
						<li class="filter wdth100">
							<a href="#/createengagement"
							class="btn btn-default pull-right success gButton big-button btn-success" translate>
								Create Engagement </a>
						</li>
					</ul>
 		 			<div class="paginated width100" data-ng-show="tasks != null && tasks.length > 0 "   >
 						<p class="text-center"><i class="fa fa-angle-up" aria-hidden="true" data-ng-click="curPage=curPage-1" data-ng-hide="curPage == 0"></i></p>
						<div class="progressidlabel width100 hand-cursor"
								data-ng-repeat="task in tasks | filter: searchText | pagination: curPage * pageSize | limitTo: pageSize"
								data-ng-click="selectEngagement($index)" >
							<ul class="list-unstyled prograss_label">
								<li class="text-center labelblock">
									<div id="{{task.engagementId}}" ng-class="highlightFirstEngagement(task.engagementId)  "  >
										<span data-ng-show="task.closed != true" class="icon-Label" data-ng-show="task.closed != true"></span>
										<span  data-ng-show="task.closed == true " class="icon-LabelBlock" ></span>
										
									</div>
									<p class="fontblue " data-ng-bind="task.engagementId"></p>
								</li>
							</ul>
						</div>
						<p class="text-center"><i class="fa fa-angle-down" aria-hidden="true" data-ng-click="curPage = curPage+1" data-ng-hide="curPage >= tasks.length/pageSize - 1"></i></p>
					</div> 
		
					<div class="paginated width100" data-ng-show="tasks == ''"   >
 						<p class="text-center"><i class="fa fa-angle-up" aria-hidden="false" ></i></p>
						<div class="progressidlabel width100 "
								data-ng-repeat="value in loadNillEngagements() track by $index"  >
							<ul class="list-unstyled prograss_label">
								<li class="text-center labelblock">
									<div  class="label_deactive " ng-show="$index == 0">
										<span class="engagementlabel_disabled"><img src="ui/img/label.png" alt="" title="" class="icon-xlarge"></span>
									</div>
									<br/>
									<span ng-show="$index == 0" class="small text-muted"> Nil Engagements
									</span>
									<div  class="label_empty " ng-show="$index != 0">
									</div>
									<p class="fontblue " ></p>
								</li>
							</ul>
						</div>
						<p class="text-center"><i class="fa fa-angle-down" aria-hidden="true"></i></p>
					</div>
					<br />
					<br />
					<br /> 
				</div> 
			</div>
