
<div class="modal-header modal-header-primary">
       <button type="button" class="close" data-ng-click="closePublishSurveyPopup()">&times;</button>
       <h4 class="modal-title"> {{ modalTitle }} </h4>
</div> 

<div class="modal-body">
<div class="alert alert-danger" data-ng-show="{{ errorMessage != null }}" >
	<span>{{ errorMessage }}</span>
</div>


A draft version of this survey has not yet been shared. 
<br>
Are you sure you want to publish?
<br/>
<br/>
	
<div class="row">
	<div class="col-lg-2 col-md-2 col-sm-6 col-xs-6 col-md-offset-6 col-lg-offset-6 padding-right_5">
		<button class="btn btn-success oButton pull-right" type="button" data-ng-click="closePublishSurveyPopup()">Cancel</button>
	</div>
	<div class="col-lg-2 col-md-2 col-sm-6 col-xs-6 padding-left">
		<button class="btn btn-success gButton big-button  pull-left" type="button" data-ng-click="publishSurvey()">Yes, Publish</button>
	</div>
</div>
</div>
