
<div class="modal-header modal-header-primary">
       <button type="button" class="close" data-ng-click="closePublishSurveyPopup()">&times;</button>
       <h4 class="modal-title"> {{ modalTitle }} </h4>
</div> 

<div class="alert alert-danger" data-ng-show="{{ errorMessage != null }}" >
	<span>{{ errorMessage }}</span>
</div>

<div class="modal-body">
	<p>Are you sure you want to publish this survey?</p>
	<p>Publishing will also clear all 'test data' including: No. of:</p>
	<ol>
		<li>Participants</li>
		<li>In-progress Surveys</li>
		<li>Completed Surveys</li>
	</ol>
</div>
	
<div class="row">
	<div class="col-lg-2 col-md-2 col-sm-6 col-xs-6 col-md-offset-6 col-lg-offset-6 padding-right_5">
		<button class="btn btn-success oButton pull-right" type="button" data-ng-click="closePublishSurveyPopup()">Cancel</button>
	</div>
	<div class="col-lg-2 col-md-2 col-sm-6 col-xs-6 padding-left">
		<button class="btn btn-success gButton big-button  pull-left" type="button" data-ng-click="publishSurvey()">Yes, Publish</button>
	</div>
</div>
<br/>