<div data-ng-controller="RiskMapCtrl"  id="RiskMapCtrlDiv" >
<ng-include class="cs_hide_risk_details" src="'ViewRiskDetails.html'"></ng-include>
<header class="above-all container padding-none participant-header">
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			  <div class="navbar-header">
					<div class="navbar-brand padding-none">
						<span class="navbar-logo">
							<img src="./ui/img/kpmg-header-logo.png" alt="logo" class="margin-sides-large margin-top-kpmg-icon"/>
						</span>
						<div class="float-right">
							<div class="participant-header-font-style-safari header-margin-top padding-none float-left">
								<span class="header-font-style">Dynamic Risk Assessment&nbsp;&nbsp;&nbsp;</span>
							</div>
							<div class="participant-header-font-style-safari header-margin-top padding-none float-left">
							<span class="kpmg-blue-bg padding-small" data-ng-show="engagement.survey.published">{{'Survey' | translate}}</span>
							<span class="kpmg-blue-bg padding-small" data-ng-show="!engagement.survey.published">{{'Draft Survey' | translate}}</span>
							</div>
						</div>
					</div>
			  </div>
			  <div class="nav navbar-nav float-right header-margin-top-small padding-none hidden-xs hidden-sm">
			  		<li class="padding-none hand-cursor" >
			  			<a class="small-header-links kpmg-blue" href="" data-ng-click="returnToHome()" >Home</a>
			  		</li>
			  		<!-- <li class="padding-none"><a class="small-header-links kpmg-blue" href="" data-ng-click ="participantExit()" >Exit</a></li> -->
			  </div>
		</div>
	</nav>
</header>
<div class="container riskasses padding-large">

	<!-- start prograss bar section -->
	<div class="prograssbar_sec">
		<div class="row">
			<div class="col-xs-12">
				<div class="row">
					<div class="col-sm-12 col-md-9 padding-none">
						<div class="prograssbar_container margin-top-medium">
							<ul class="prograssbar_list">
								<li>
									<div class="prograss_content ">
										<span class="active hand-cursor"><img src="ui/img/png/Icon_Connect_Blue.png"
											alt="viewsource" title="" class="icon-xlarge"></span> <span class="text-medium">Connecting
											<br /> Risks
										</span>
									</div>  
										<div class="progress">
											<div id="riskMapprogressBar" class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"   style="width:0%" >
												<span class="sr-only">0% Complete</span>
											</div>
										</div>
										<span class="pull-left">0%</span>
										<span class="pull-right">100%</span>
								</li>
								<li>
									<div class="prograss_content" data-ng-click="navigate('seveVsLike')">
										<span class="hand-cursor">
							<!-- <img src="ui/img/icons/png/icon2.png" alt="viewsource" title="">-->
							
										 <span class="icon-Icon_SevLikel_Grey">
                <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span>
                </span>
							
											</span> <span class="text-medium">Severity/ <br />
											Likelihood
										</span>
									</div> 
										<div class="progress">
											<div id="riskMapSevProgressBar"  class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:0%">
												<span class="sr-only">0% Complete</span>
											</div>
										</div>
										<span class="pull-left">0%</span>
										<span class="pull-right">100%</span>
								</li>
								<li>
									<div class="prograss_content"
										data-ng-click="navigate('velocity')">
										<span class="hand-cursor"><!--  <img src="ui/img/icons/png/icon3.png" 	alt="viewsource" title=""> --> 
										
										<span class="icon-Icon_Velocity_Grey">
                <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span>
                </span>
										</span> <span class="text-medium">Velocity</span>
									</div> 
										<div class="progress">
											<div id="riskMapVelProgressBar" class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:0%" >
												<span class="sr-only">0% Complete</span>
											</div>
										</div>
										<span class="pull-left">0%</span>
										<span class="pull-right">100%</span>
								</li>
							</ul>
						</div>

						<ul class="prograssbar_arrow">
							<li><a href="" data-ng-click="navigate('velocity')"></a></li>
							<li><a href="" data-ng-click="navigate('seveVsLike')"></a></li>
						</ul>
					</div>
					<div class="col-sm-12 col-md-3 text-right margin-top-medium">
						<!-- div class="saveoption" -->
						<button id="saveRiskMap"  type="button" class="btn btn-success gButton medium-button margin-top-medium sharp-edges padding-all"
							 data-ng-click="submitSurvey()" >Submit</button>
						 <button type="button" class="btn btn-success cs_save_button_width oButton medium-button margin-top-medium sharp-edges padding-all"
						data-ng-click="save()">Save</button>
						<!-- /div -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end progress bar section -->
	
	<!-- start  save success message  -->
	<div class="alert alert-info cs_success_alert" data-ng-show="saveMessage">
		<div>
			<span class="glyphicon glyphicon-refresh glyphicon-spin" data-ng-show="operationInProgress"></span>&nbsp &nbsp Survey saved successfully.
		</div>
	</div>
	<!-- end  save success message  -->

<!-- start collapse  section -->
<div class="panel-group riskprocess">
	<div class="panel panel-default">
		<div id="collapse1" class="panel-collapse" ng-show="!instructionsCollapsed">
			<div class="panel-body" >
				<div class="risk_steps pos-relative">
					<div class="img_container_parent">
						<div class="row">
							<div class="col-sm-2 ">
								<div class="img_container noncontent">
									<img src="ui/img/graph7.png" alt="" title="">
									<div class="content_section">
										Select a risk by clicking on the circle
									</div>
								</div>
							</div>
							<div class="col-sm-2">
								<div class="img_container ">
									<img src="ui/img/graph8.png" alt="" title="">
									<div class="content_section">
										Click on the related risks to connect
									</div>
								</div>
							</div>
							<div class="col-sm-2">
								<div class="img_container ">
									<img src="ui/img/graph9.png" alt="" title="">
									<div class="content_section">
										Click on the lines to define strength of the connection
									</div>
								</div>
							</div>
							<div class="col-sm-2">
								<div class="img_container ">
									<img src="ui/img/graph10.png" alt="" title="">
									<div class="content_section">
										Click on the selected risk again to finish selection
									</div>
								</div>
							</div>
							
							<div class="col-sm-2">
								<div class="img_container ">
									<img src="ui/img/graph11.png" alt="" title="">
									<div class="content_section">
										Select a new risk to connect
									</div>
								</div>
							</div>
							
						</div>
					</div>
				</div>
				
				<!-- start content section -->
						<div class="row ">
								<div class="col-md-12">
									<div class="font-fifteen">
								We would like to gather your insights on how you think the risks in your organisation affect one another, using the interactive graph below.
							</div>
						</div>
					</div>
			<!--end content section -->	
				
			</div>
		</div>
		<div class="panel-heading">
			<h4 class="panel-title">
			<span ng-click="instructionsCollapsed=!instructionsCollapsed">
				<div class="opencollapse bold">
					<span >EXPAND<span></span></span>
				</div>
				<div class="closecollapse bold">
					<span >COLLAPSE<span></span></span>
				</div>
			</span>
			</h4>
		</div>
	</div>
</div>
<!-- end collapse  section -->
<!-- start risk slider  section -->
				<div class="remaining_risk">
					<div class="row">
						<div class="col-sm-2">
							<div class="col-sm-10 text-center padding-medium">
								<span class="text-left disabled_clr"><b>Remaining Risks:</b></span>
								<p class="large_number">
									<span class="large_number " ng-bind="remainingRisk" ></span>
									<small class="disabled_clr">of</small>
									 <span class="disabled_clr large_number">{{ risks.length }}</span>
								</p>
							</div>
						</div>
						<!-- Risk name and description -->
						<div class="col-sm-8 pull-left margin-top-small">
							<div class="margin-top-medium">
								<span class="light-blue bold" id="selectedRiskName"></span>
     							<span id="selectedRiskDesc" ></span>
							</div>
						</div>
						<div class="col-sm-2 padding-none lnehght">
							<div class=" padding-right">
								<span type="button" class="float-right hand-cursor" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-ng-click=" viewRiskDetails()" target="_blank"  ><span style="font-size: medium;" class="color_blu">
								<img src="ui/img/icon_view_bluecircle.png" class="icon-medium"/><b class="text-medium">&nbsp;View Risk Details</b></span></span>
					<!--  data-target="#risk_list_modal" -->
							</div>
						</div>
					</div>
				</div>
				<!-- end risk slider section -->
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	
		<div class="row padding-large">
				<div class="col-sm-2"></div>
			<!-- Risk name and description -->
			<div class="col-sm-8">
			<div class="risk_description">
				<div class="destination-Details">
				<span class="destination-font-sytle" id="moverHoverRiskName"></span> 
				<span id="moverHoverRiskDesc"></span>
			</div>
			</div>
			
			</div>
			
			
			<!-- end of Risk name and description -->
			<!-- This below 'graphViewPort' render the graph -->
			<div id="graphViewPort" class="padding-sides-large" >
				<div id="main">
					<div id="content" class="row"></div>
					<svg height="1">
                          <g id="textBox"></g>
                    </svg>
				</div>
			</div>
		</div>
		<!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-large center-block  text-center">
                  <button class="task-save btn btn-success gButton margin-sides-small" data-ng-click="save()" data-ng-disabled="operationInProgress">
                        Save<span class="glyphicon glyphicon-refresh glyphicon-spin" data-ng-show="operationInProgress"></span>
                  </button>
                  <span class="backgroundWhite nexprev">
                        <button type="button" class="btn btn-default btn-lg borderless" data-ng-click="navigate('seveVsLike')"
                              data-ng-disabled="operationInProgress" >
                          <i class="glyphicon glyphicon-menu-right " ></i>
                        </button>
                  </span>
            </div> -->
	</div>
	</div>
</div>