<div class="modal-header modal-header-primary">
	<button type="button" class="close"
		data-ng-click="closeSubmitSurveyPopup()">&times;</button>
	<h4 class="modal-title">{{modelTitle}}</h4>
</div>

<div class="modal-body">
	Survey cannot be edited once you submit.<br> <br>Are you sure
	you want to submit ?<br> <br>

	<div class="row">
		<div class="col-lg-2  col-lg-offset-6 padding-right_5">
			<button class="btn btn-success oButton pull-right" type="button"
				data-ng-click="closeSubmitSurveyPopup()">No</button>
		</div>
		<div class="col-lg-2 padding-left">
			<button class="btn btn-success gButton big-button  pull-left"
				type="button" data-ng-click="submitSurveyPopUp()"
				data-ng-disabled="emailInprogress">Yes</button>
		</div>
		<br />
	</div>
</div>
