<!-- Start header part  -->


<div class="header_parent">
	<div class="container">
		<header data-ng-controller="participantHeaderCtrl">
		<div class="row">
			<div class="col-sm-1 col-xs-4">
				<div class="logo_sec">
					<img src="./ui/img/kpmg-header-logo.png" alt="logo"/>
				</div>
			</div>
			<div class="col-sm-3 col-sm-push-8 col-xs-8">
				<div class="navbar-right">
					<nav class="navbar navbar-inverse">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						</button>
					</div>
					<div class="collapse navbar-collapse" id="myNavbar">
						<ul class="nav navbar-nav navbar-right">
							
						</ul>
					</div>
					</nav>
				</div>
			</div>
			<div class="col-sm-8 col-sm-pull-3 col-xs-12">
				<div class="vertical_space_device">
					<span class="header-font-style">{{'Dynamic Risk Assessment' | translate}}</span>
					<span class="kpmg-blue-bg padding-small" data-ng-show="engagement.survey.published">{{'Survey' | translate}}</span>
					<span class="kpmg-blue-bg padding-small" data-ng-show="!engagement.survey.published">{{'Draft Survey' | translate}}</span>
				</div>
			</div>
		</div>
		</header>
	</div>
</div>
<!--End  header part  -->


<!-- start work area part -->

<div class="container" data-ng-controller="surveyLoginCtrl">
	<ng-include class="cs_hide_risk_details" src="'ViewRiskDetails.html'"></ng-include>
	<div class="work_area">
		<div class="row">
			<div class="col-md-12">
				<h1 class="headtitle light-blue no-vert-margin pos-relative" data-ng-value="false" data-ng-model="isCollapsed">
				{{'Welcome to the Dynamic Risk Assessment Survey' | translate}} </h1>
				<div class="header-margin-top-small">
					<span class="small text-muted">{{'Company Name' | translate}}: </span><span class="small" ><b>{{clntName}}</b></span>
				</div>
				<hr class="dotted"/>
				<p class="small text-muted">
					 {{'To set up your survey, we first need your assistance with some details.' | translate}}
				</p>
			</div>
			<div class="col-md-12">
				<h2>{{'Personal Details' |translate}}</h2>
			</div>
			<form name="surveyLoginForm" class="padding-none">
				<div class="col-sm-4 col-xs-12 ">
					<div class="form-group padding-none" show-errors id="participantName">
						<label for="usr" class="control-label small-text">{{'First Name' | translate}}</label>
						<input type="text" name="FirstName" required maxlength="30" class="form-control" data-ng-value="participantName" disabled="true">
						<div class="alert alert-danger updatealert" id="reqFieldAlert" ng-show="showReqFieldError">
							<span>{{'* Required field can not be empty' | translate}}</span>
						</div>
					</div>
				</div>
				<div class="col-sm-4 col-xs-12 ">
					<div class="form-group padding-none" show-errors id="participantLastName">
						<label for="usr" class="control-label small-text">{{'Surname' | translate}}</label>
						<input type="text" name="LastName" required maxlength="30" class="form-control" data-ng-value="participantLastName" disabled="true">
						<div class="alert alert-danger updatealert" id="reqFieldAlertForSurName" ng-show="showReqFieldForSurNameError">
							<span>{{'* Required field can not be empty' | translate}}</span>
						</div>
					</div>
				</div>
				<div class="col-sm-4 col-xs-12 ">
					<div class="form-group padding-none">
						<label for="usr" class="control-label small-text">{{'Email ID' | translate}}</label>
						<input type="text" maxlength="50" class="form-control" placeholder="" data-ng-value="email" disabled="true">
					</div>
				</div>
			</form>
			<div class="col-md-12">
				<p class="small">
					 {{'Thank you for taking the time to contribute to this Risk Profile Survey. This survey focuses on the interconnections, severity, likelihood and velocity between the risks identified by your organisation. Your responses will contribute to the determination of the Risk Profile of your organisation.' | translate}}
				</p>
			</div>
		
			<div class="col-md-12">
				<div class="gray_bg">
					<div class="row">
						<div class="col-md-12 text-center">
							<p><b>{{'You will be required to complete 3 sections in the survey'| translate}}:</b></p>
						</div>
					</div>
				<div class="row">
					<div class="col-md-8 col-md-offset-2 ">
						<div class="row">
							<div class="col-sm-4 text-center">
								<img src="ui/img/png/Icon_Connect_Blue.png" alt="" title="" class="icon-xlarge">
								<small>{{ 'Connecting' |translate}} <br/>{{'Risks' | translate}}</small>
							</div>
							<div class="col-sm-4  text-center">
								<!-- <img src="ui/img/icons/png/Icon_SevLikel_Blue.png" alt="" title="" class="icon-xlarge"> -->
								<span class="icon-servlikeblue">
				                <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span>
				                </span>
								<small>{{'Plotting Severity and' | translate}} <br/>{{'Likelihood of risks'| translate}}</small>
							</div>
							<div class="col-sm-4  text-center">
								<!--<img src="ui/img/icons/png/Icon_Velocity_Blue.png" alt="" title="" class="icon-xlarge"> -->
								<span class="icon-velocityblue">
				                <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span>
				                </span>
								<small>{{'Identifying \'Velocity\'' | translate}} <br/>{{'of risks' | translate}}</small>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>	
			
			<div class="padding-sides-large">
				<div class="row">
					<div class="col-md-12">
						<h2><b>{{'Instructions'| translate}}:</b></h2>
						<hr class="solid "/>
						<div class="padding-medium">
							<div class="something-semantic icon-sec">
								<div class="something-else-semantic">
								
									<a href="javascript:void(0);" title="Save" class="savebutton">Save</a>
								
								
									<!--  <img src="ui/img/savenew.png" alt="" title="">
									
									  <span class="icon-save">
                <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span>
                </span> --> 
							
									
										</div>
								<div class="something-else-semantic small text-muted">
							<!-- 	<span data-toggle="modal" data-target="#surveylogin" class="spanclr"> -->	
									{{'Save before you exit to retain your answers.' | translate}}
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<hr class="dotted no-vert-margin"/>
						<div class="padding-medium">
							<div class="something-semantic icon-sec">
								<div class="something-else-semantic">
									
								
									<!--<img src="ui/img/instruction.png" alt="" title=""> --> 
									 <span class="icon-instruction">
                <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span><span class="path15"></span><span class="path16"></span><span class="path17"></span><span class="path18"></span><span class="path19"></span><span class="path20"></span>
                </span>
									
								</div>
								<div class="something-else-semantic small text-muted">
									 {{ 'Use the collapse and expand panel to view instructions on how to complete each graph.' | translate}}
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<hr class="dotted no-vert-margin"/>
						<div class="padding-medium">
							<div class="something-semantic icon-sec">
								<div class="something-else-semantic">
								<a href="javascript:void(0);" title="Save" class="submitbutton">Submit</a>
									<!--<img src="ui/img/submitnew.png" alt="" title="">
									 <span class="icon-submit">
                <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span>
                </span>--> 
								</div>
								<div class="something-else-semantic small text-muted">
									 {{'You' | translate}} <b>{{'must' | translate}}</b> {{'submit your survey results on completion.' | translate}}
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-12">
							<h2><b>{{'Tips' | translate}}:</b></h2>
						<hr class="solid "/>
						<div class="padding-medium">
							<div class="something-semantic icon-sec">
								<div class="something-else-semantic">
									<!--  <img src="ui/img/clocknew.png" alt="" title="">-->
									 <span class="icon-time">
                						<span class="path1"></span><span class="path2"></span>
                					</span>
									
									
								</div>
								<div class="something-else-semantic small text-muted">
									{{ 'The idle time is set at 20 minutes. The survey will time out if there is inactivity for that duration.' |translate}}
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<hr class="dotted no-vert-margin"/>
						<div class="padding-medium">
							<div class="something-semantic icon-sec">
								<div class="something-else-semantic">
									<!-- <img src="ui/img/eyenew.png" alt="" title=""> -->
									 <span class="icon-viewriskdetail">
                						<span class="path1"></span><span class="path2"></span><span class="path3"></span>
                					</span>
								</div>
								<div class="something-else-semantic small text-muted">
									 {{'Access full list of risk name and descriptions by clicking' | translate}}
									  <span  class="spanclr bold" data-ng-click=" viewRiskDetails()">{{'\'View Risk Details\'' | translate}}</span>.	

								</div>
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<hr class="dotted no-vert-margin"/>
						<div class="padding-medium">
							<div class="something-semantic icon-sec">
								<div class="something-else-semantic">
									<!--  <img src="ui/img/exlanew.png" alt="" title="">-->
									<span class="icon-Information">
                						<span class="path1"></span><span class="path2"></span>
                					</span>
								</div>
								<div class="something-else-semantic small text-muted">
									<span data-toggle="modal" data-target="#surveylogin" class="spanclr bold" data-keyboard="false" >
										{{'Background Information' | translate}}
									</span>{{'on the Dynamic Risk Assessment Survey.' | translate}}
								
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<hr class="dotted no-vert-margin"/>
						<div class="padding-medium">
							<div class="something-semantic icon-sec">
								<div class="something-else-semantic">
									<!--  <img src="ui/img/locknew.png" alt="" title="">-->
									 <span class="icon-lock">
                <span class="path1"></span><span class="path2"></span><span class="path3"></span>
                </span>
								</div>
								<div class="something-else-semantic small text-muted">
{{ 'All responses are confidential and will be provided to the company in aggregated form to ensure individual respondents cannot be identified.'| translate}}
								</div>
							</div>
						</div>
					</div>
					 <div class="col-md-12">
						<hr class="dotted no-vert-margin"/>
						<div class="padding-medium">
						 <div class="something-else-semantic small text-muted">{{'If you have any questions regarding the survey please' | translate}}
						  <span data-toggle="modal" data-target="#contactus" data-ng-click = "startContactUs()" class="spanclr small"><b>{{'contact us' | translate}}</b>. </span> 
						  {{'To view Privacy Statement' | translate }}, <span> <a class="spanclr small bold" href="privacy.html" target = "_blank"> {{'click here' | translate}}.</a></span>
						 </div>
					</div> 
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="form-group col-md-12  paddingleftright termsandconditions">
		<div class="checkboxFive customgreen">
			<input type="checkbox" value="1" id="terms" name="checkbox1" data-ng-model="acceptedTerm" class="ng-valid ng-dirty ng-valid-parse ng-touched ng-not-empty" style="">
			<label for="terms"></label>
		</div>
		<label for="checkbox1"><small>{{'I have read and understood the above, and consent to my survey results being used for the purpose of developing the company Risk Profile as outlined above.' | translate}}</small><span></span></label>
	</div>
	<div class="col-md-12  padding-large center-block text-center">
		<!-- TODO cleanup after demo -->
		<button data-ng-click="termsAccepted()" class="btn btn-success gButton margin-sides-small pull-right" data-ng-disabled="!acceptedTerm">{{'Continue' | translate}}</button>
	</div>
<div class="survey_login_popup">
	<div class="modal fade" id="surveylogin" role="dialog">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
			<div class="modal-header">
			  <button type="button" class="close" data-dismiss="modal">&times;</button>
			  <h4 class="modal-title">{{'Background Information' |translate}}</h4>
			</div>
			<div class="modal-body">
				<h5 class="header-font-style ">{{ 'Understanding an organisation\'s risk can be significantly improved if we find a way to reveal potential risk contagion.' | translate}}</h5>
			  	
			  	<p>{{'We operate in a turbulent, interconnected world. Economic volatility is the norm and the past is no longer an indicator of the things to come. Disparate events can become inextricably linked, making assessing risk exposure especially difficult. Risk is unpredictable and contagious connected globally, and enterprise-wide.' | translate}}</p>
				
				<p>{{'Understanding an organisation\'s risk can be significantly improved if we find a way to reveal potential risk contagion.' | translate}}</p>
				
				<p>{{'Looking beyond traditional risk assessments based on likelihood and severity, KPMG\'s Dynamic Risk Assessment, applies 3 dimensional network theory and leverages advanced data analytics to identify, connect and visualise risk.' | translate}}</p>
				
				<p>{{'Combining the latest in applied science with insights from management and extensive benchmarking, we reveal critical risk clusters likely to impact the business. By exposing the expected contagion effects between global and enterprise risks, we highlight the genuinely significant threats.' | translate}}</p>
				
				<p>{{'Pioneered by KPMG\'s leading scientists, mathematicians and economics, KPMG\'s Dynamic Risk Assessment delivers unprecedented insight pinpointing the most central risk, and shedding light on the effectiveness of controls.' | translate}}</p>
				
                <p>{{'If you have any questions, please feel free to'| translate}}&nbsp;<a data-toggle="modal" data-target="#contactus" data-ng-click="startContactUs()" class="spanclr bold" onclick="popupclose()" data-dismiss="modal">{{' contact us.' | translate}}</a></p>  
			</div>
            <div class="contactus">
				<div class="modal-footer">
				  <button type="button" class="btn btn-success gButton big-button margin-top-medium sharp-edges padding-all" data-dismiss="modal">{{'Close' | translate}}</button>
				</div>
           </div>
		  </div>
		  
	  </div>
	</div>
</div>


	<!--  start contact us -->
	<div class="contactus">
		<div class="modal fade" id="contactus" role="dialog">
			<div class="modal-dialog ">
				<div class="modal-content">
					<div class="modal-header">
					  <button type="button" class="close" data-dismiss="modal">&times;</button>
					 
					</div>
					<div class="contactus_form_info" data-ng-hide="contactUsHide">
						<div class="modal-body">
							<h3>{{'Contact us' | translate}}</h3>
							<div class="alert alert-danger" data-ng-show = "showReqFieldContactUsError" >
								<span >{{showReqFieldContactUsErrorMessage}}</span>
							</div>
							<form role="form" name="contactUsForm">
								<div class="form-group"  data-show-errors>
									<span class="holder">{{'Your Name'| translate}}</span>
									<input name="contactUSName" data-ng-model="contactUsName" type="text" id="contactUSName" required class="form-control"
									  >
									 <!-- <span ng-show=contactUsForm.contactUSName.$error.maxlength>Should not exceed more than 20 characters.</span> -->
								</div>
								<div class="form-group" data-show-errors>
								<span class="holder">{{'Your Email' | translate}}</span>
								<input name="contactEmail" id="contactEmail"  data-ng-model="contactUsEmailId" required class="form-control" >
								</div>
								<div  class="form-group" data-show-errors>
								<span class="holder">{{'Your Company Name' | translate}}</span>
								<input name="contactUsCompnyName" id="contactUsCompnyName" data-ng-model="contactUsCompanyName" required type="text" class="form-control">
								</div>
								
								<div class="form-group" data-show-errors>
									<span class="holder">{{'Your Contact Number' | translate}}</span> <input id="contactusphoneNo" name="contactusphoneNo" data-ng-model="contactUsPhoneNo"
										onKeyPress="return validateNumberField(event)" required
										maxlength="10" type="text" class="form-control">
								</div>
								
								<div class="form-group" data-show-errors>
								<span class="holder">{{'Comments' | translate}}</span>
									<textarea id="contactUsComment" name="contactUsComment"
										data-ng-model="contactUsComments" required maxlength="200"
										class="form-control" rows="5" ></textarea>
								</div>
							</form> 

						</div>
		
						<div class="modal-footer">
							<button data-ng-click="contactUsSubmit()" type="submit"
								class="btn btn-success gButton medium-button margin-top-medium sharp-edges padding-all pull-right">
								{{'Submit' | translate}}&nbsp;<span class="glyphicon glyphicon-refresh glyphicon-spin" data-ng-show="saveInProgress"></span></button>
						</div>
					</div>
				
					<div class="sent_successfully" data-ng-show="sentMessage">
						<div class="modal-body">
							<p class="small">{{'Your enquiry was sent successfully. We will be in touch shortly.' | translate}}</p>
						</div>
						<div class="modal-footer">
						 	 <button type="button" class="btn btn-success gButton medium-button margin-top-medium sharp-edges padding-all pull-right" data-dismiss="modal">{{'Close' | translate}}</button>
						</div>
					</div>
			 </div>
			  
		  </div>
		</div>
	</div>
	<!--  end contact us -->
	</div>

<!-- end work area part -->







<script>
$(function() {
    $("span.holder + input").keyup(function() {
        if($(this).val().length) {
            $(this).prev('span.holder').hide();
        } else {
            $(this).prev('span.holder').show();
        }
    });
    $("span.holder + textarea").keyup(function() {
        if($(this).val().length) {
            $(this).prev('span.holder').hide();
        } else {
            $(this).prev('span.holder').show();
        }
    });
    $("span.holder").click(function() {
        $(this).next().focus();
    });
});

</script>
