<div data-ng-controller="velocityRatingCtrl">
<ng-include class="cs_hide_risk_details" src="'ViewRiskDetails.html'"></ng-include>
<header class="above-all container padding-none participant-header">
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			  <div class="navbar-header">
					<div class="navbar-brand padding-none">
						<span class="navbar-logo">
							<img src="./ui/img/kpmg-header-logo.png" alt="logo" class="margin-sides-large margin-top-kpmg-icon"/>
						</span>
						<div class="float-right">
							<div class="participant-header-font-style-safari header-margin-top padding-none float-left">
								<span class="header-font-style">Dynamic Risk Assessment&nbsp;&nbsp;&nbsp;</span>
							</div>
							<div class="participant-header-font-style-safari header-margin-top padding-none float-left">
							<span class="kpmg-blue-bg padding-small" data-ng-show="engagement.survey.published">{{'Survey' | translate}}</span>
							<span class="kpmg-blue-bg padding-small" data-ng-show="!engagement.survey.published">{{'Draft Survey' | translate}}</span>
							</div>
						</div>
					</div>
			  </div>
			  <div class="nav navbar-nav float-right header-margin-top-small padding-none hidden-xs hidden-sm">
			  		<li class="padding-none hand-cursor" >
			  			<a class="small-header-links kpmg-blue" href="" data-ng-click="returnToHome()">Home</a>
			  		</li>
			  		<!-- <li class="padding-none"><a class="small-header-links kpmg-blue" href="" data-ng-click ="participantExit()" >Exit</a></li> -->
			  </div>
		</div>
	</nav>
</header>
<div class="container padding-large" >
	<!-- start prograss bar section -->
	<div class="prograssbar_sec" >
		<div class="row">
			<div class="col-xs-12">
				<div class="row">
					<div class="col-sm-12 col-md-9 padding-none">
						<div class="prograssbar_container  margin-top-medium">
							<ul class="prograssbar_list">
								<li>
									<div class="prograss_content" data-ng-click="navigate('riskMap')">
										<span class="hand-cursor"><img src="ui/img/svg/Icon_Connect_Grey.svg"
											alt="viewsource" title="" class="icon-xlarge"></span> <span class="text-medium">Connecting
											<br /> Risks
										</span>
									</div>  
										<div class="progress">
											<div id="velocityRiskMapProgressBar"  class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:0%">
												<span class="sr-only">0% Complete</span>
											</div>
										</div>
										<span class="pull-left">0%</span>
										<span class="pull-right">100%</span>
								</li>
								<li>
									<div class="prograss_content" data-ng-click="navigate('seveVsLike')">
										<span  class="hand-cursor"><!--  <img
											src="ui/img/icons/png/icon2.png" alt="viewsource"
											title="">-->
											
											
											 <span class="icon-Icon_SevLikel_Grey">
                <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span>
                </span>
											
											
											</span> <span class="text-medium">Severity/ <br />
											Likelihood
										</span>
									</div> 
										<div class="progress">
											<div id="velocityseverityProgressBar"  class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:0%">
												<span class="sr-only">0% Complete</span>
											</div>
										</div>
										<span class="pull-left">0%</span>
										<span class="pull-right">100%</span>
									
								</li>
								<li>
									<div class="prograss_content">
										<span class="active hand-cursor"> <!--  <img src="ui/img/icons/png/icon3active.png"alt="viewsource" title="">-->
										 <span class="icon-Icon_Velocity_Blue">
                <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span>
                </span>
										
										
										</span> <span class="text-medium">Velocity</span>
									</div> 
										<div class="progress">
											<div id="velocityProgressBar" class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:0%">
												<span class="sr-only">0% Complete</span>
											</div>
										</div>
										<span class="pull-left">0%</span>
										<span class="pull-right">100%</span>
									
								</li>
							</ul>
						</div>

						<ul class="prograssbar_arrow">
							<li><a href="" data-ng-click="navigate('seveVsLike')"></a></li>
							<li><a href="" data-ng-click="navigate('riskMap')"></a></li>
						</ul>
					</div>
					<div class="col-sm-12 col-md-3 text-right margin-top-medium">
						<!-- div class="saveoption" -->
						<button id="velocitySubmited" type="button" class="btn btn-success gButton medium-button margin-top-medium sharp-edges padding-all"
							data-ng-click="submitSurvey()" >Submit</button>
			 			<button type="button" class="btn btn-success cs_save_button_width oButton medium-button margin-top-medium sharp-edges padding-all"
							data-ng-click="save()">Save</button>
						<!-- /div -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end prograss bar section -->

	<!-- start  save success message  -->
	<div class="alert alert-info cs_success_alert" data-ng-show="saveMessage">
		<div>
			<span class="glyphicon glyphicon-refresh glyphicon-spin" data-ng-show="operationInProgress"></span>&nbsp &nbspSurvey saved successfully.
		</div>
	</div>
	<!-- end  save success message  -->
			<!-- start collapse  section -->
	<div class="panel-group riskprocess">
		<div class="panel panel-default">
			<div id="collapse1" class="panel-collapse" ng-show="!instructionsCollapsed">
				<div class="panel-body" >
					<div class="risk_steps pos-relative">
						<div class="img_container_parent">
							<div class="row">
								<div class="col-sm-6 ">
									<div class="img_container pull-right noncontent ">
										<img src="ui/img/icons/png/graph5.png" alt="" title="">
										<div class="content_section">
											Choose a risk
										</div>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="img_container leftapply">
										<img src="ui/img/icons/png/graph6.png" alt="" title="">
										<div class="content_section">
											Slide the risk to the associated velocity
										</div>
									</div>
								</div>
								
								
							</div>
						</div>
					</div>
					
					<!-- start content section -->
							<div class="row ">
			<div class="col-md-12">
				<div class="font-fifteen">
						Please move the
					slider to the position that you think best represents the velocity
					of each risk, i.e. if the risk was to occur, how long it would take
					to significantly impact your organisation.
				</div>
			</div>
			</div>
				
				<!--end content section -->	
				</div>
			</div>
			<div class="panel-heading">
				<h4 class="panel-title">
				<span ng-click="instructionsCollapsed=!instructionsCollapsed">
					<div class="opencollapse bold">
						<span>EXPAND<span></span></span>
					</div>
					<div class="closecollapse bold">
						<span>COLLAPSE<span></span></span>
					</div>					
				</span>
				</h4>
			</div>
		</div>
	</div>
	<!-- end collapse  section -->

	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="row padding-large" >
				<!-- start risk slider  section -->
				<div class="remaining_risk">
					<div class="row">
				
						<div class="col-sm-3">
							<div class="col-sm-10 text-center padding-medium">
								<span class="text-left disabled_clr"><b>Remaining Risks:</b></span> 
								<p   class="large_number">
									<span class="large_number" ng-bind="remainingRiskVelocity" ></span>
										<small class="disabled_clr">of</small>
										<span class="disabled_clr large_number">{{ risks.length}}</span>
								</p>
							</div>
						</div>
					
						<!-- Risk name and description -->
					
						<div class="col-sm-7 pull-left margin-top-small">
							<div class="margin-top-large vertmdle">
								<span>
								<span class="bold light-blue" ng-bind="selectedRisk.name"></span>
								<span class="" ng-bind="selectedRisk.desc"></span>
								</span>
							</div>
						</div>
					
						<!-- end of Risk name and description -->
					
						<div class="col-sm-2 padding-none pull-right">
							<div class=" padding-right">
								<span type="button" class="float-right hand-cursor" data-toggle="modal" data-target="#risk_list_modal" data-backdrop="static" data-keyboard="false" data-ng-click=" viewRiskDetails()"  ><span style="font-size: medium;" class="color_blu"><img src="ui/img/icon_view_bluecircle.png" class="icon-medium"/><b class="text-medium">&nbsp;View Risk Details</b></span></span>
							</div>
						</div>
					
					</div>
				</div>
				<!-- end risk slider section -->
			<!-- <div class="col-lg-12 col-sm-12 padding-none">
				<h1 class="headtitle" data-ng-value="false">Velocity</h1>			
			</div>
			<div class="col-lg-1 col-xs-1 bg-light-grey text-center" style="height:98.33px;">
				<div class="margin-top-xlarge small"> &nbsp;&nbsp;Stage</div>
			</div>
			<div class="col-lg-11 col-xs-11 padding-none">
		        <!-- <div class="wizard">
		            <div class="wizard-inner">
		                <div class="connecting-line"></div>
		                <ul class="nav nav-tabs" role="tablist">
		                    <li role="presentation" class="disabled bg-light-grey">
		                        <a aria-controls="step1" role="tab" title="Personal Details">
		                            <span class="round-tab">
		                                <img src="ui/img/user.png" class="icon-large icon-center"/>
		                            </span>
		                        </a>
		                    	<p class="wizard-tab-title vsmall text-muted nowrap text-center">Personal Details</p>
		                    </li>
		                    <li role="presentation" class="bg-light-grey">
		                        <a href="" data-ng-click="navigate('riskMap')" data-toggle="tab" aria-controls="step2" role="tab" title="Map Risk">
		                            <span class="round-tab">
		                                <img src="ui/img/risk_interconnection_icon.png" class="icon-large icon-center"/>
		                            </span>
		                        </a>
		                    	<p class="wizard-tab-title vsmall text-muted nowrap text-center">Map Risk</p>
		                    </li>
		                    <li role="presentation" class="bg-light-grey">
		                        <a href="" data-ng-click="navigate('seveVsLike')" data-toggle="tab" aria-controls="step3" role="tab" title="Severity / Likelihood">
		                            <span class="round-tab">
		                                <img src="ui/img/severityLikelihood_icon.png" class="icon-large icon-center"/>
		                            </span>
		                        </a>
		                    	<p class="wizard-tab-title vsmall text-muted nowrap text-center">Severity / Likelihood</p>
		                    </li>
		
		                    <li role="presentation" class="active bg-light-grey">
		                        <a href="" data-toggle="tab" aria-controls="complete" role="tab" title="Velocity">
		                            <span class="round-tab">
		                                <img src="ui/img/velocity_icon_white.png" class="icon-large icon-center"/>
		                            </span>
		                        </a>
		                        <p class="wizard-tab-title vsmall text-muted nowrap text-center">Velocity</p>
		                    </li>
		                </ul>
		            </div>
		        </div> -->
	        </div>
	</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-large" >
				<div class="row padding-large" id="disabled-top-scale">
					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
						<span class="pull-right small text-muted"></span>
					</div>
					<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" id="velocityRatingScale">
						<rzslider rz-slider-model="" rz-slider-options="label_slider.options"></rzslider>
						<div class="dashed-vertical-line" id="dashed-vertical-line" ></div>
						<div class="dashed-vertical-line two" id="dashed-vertical-line1" ></div>
						<div class="dashed-vertical-line three" id="dashed-vertical-line2" ></div>
						<div class="dashed-vertical-line four" id="dashed-vertical-line3" ></div>
						<div class="dashed-vertical-line five" id="dashed-vertical-line4" ></div>
					</div>
				</div>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-large velocity-scroll" id="scroll">
				<div class="row padding-large" data-ng-repeat="risk in risksWithVelocityValues"  >
						<div data-ng-click="populateRisk(risk.name)" > 
							<span class="col-lg-2 col-md-2 col-sm-2 col-xs-2 dot">
								<span class="small text-muted" id="{{risk.name}}">{{risk.name}}</span>
							</span>
							<span class="col-lg-10 col-md-10 col-sm-10 col-xs-10" id="smallRound">
								<rzslider id="{{risk.name}}"  rz-slider-model="risk.velocityValue" rz-slider-options="sliderOptionsList[$index]"></rzslider>
							</span>
						</div>
				</div>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-large" >
				<div class="row padding-large" id="disabled-top-scale">
					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
						<span class="pull-right small text-muted"></span>
					</div>
					<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" id="velocityRatingScaleBottom">
						<rzslider   rz-slider-model="" rz-slider-options="label_slider.options"></rzslider>
					</div>
				</div>
			</div>
		<!-- 	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-large center-block text-center">
			 	<span data-ng-click="navigate('seveVsLike')" class="backgroundWhite nexprev">
					<button type="button" class="btn btn-default btn-lg borderless " 
						data-ng-disabled="operationInProgress" > 
						<i class="glyphicon glyphicon-menu-left " ></i>
					</button>
				</span>
				<button class="task-save btn btn-success oButton margin-sides-small" data-ng-click="save()"
					data-ng-disabled="operationInProgress" >
					Save<span class="glyphicon glyphicon-refresh glyphicon-spin" data-ng-show="operationInProgress"></span>
				</button>
				<button data-ng-click="submitSurvey()" class="btn btn-success gButton margin-sides-small"
					data-ng-disabled="submitInProgress">
					Submit Survey <span class="glyphicon glyphicon-refresh glyphicon-spin" data-ng-show="submitInProgress"></span>
				</button>
			</div> -->
	</div>
</div>